@{
    ViewData["Title"] = "Login";
}





<div class="row">
    <div class="col-md-4">
		<img  class="h-50" src="~/images/16570.jpg" />
    </div>
    <div class="col-md-8 mt-5">
        
        <form asp-action="Login" method="post" class="w-50 mx-auto">
            <h2 class="mb-4">Login</h2>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" class="form-control" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div>


